# Binários compilados
dist/

# Go
*.test
*.out
vendor/
.gocache/

# Java / Maven
target/
assinador/target/
*.class
*.jar
*.war

# IDEs
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.db
*.exe
*.AppImage
*.dmg
